* {
  font-family: "Poppins", cursive !important;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 500;
  box-sizing: inherit;
}

.logo {
  font-family: "Catamaran", sans-serif !important;
}
